.bg-image {
  /* The image used */

  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


.parallax {
  height: 500px;
  background-attachment: fixed;
  filter: blur(3px);
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: ();
  position: relative;
}

.parallaxText {
  position: absolute;
  left: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  color: #fff;
  padding: 18px;
  font-size: 44px;
  letter-spacing: 10px;
  border: 4px solid white;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
.bgimg-1 {
  min-height: 550px;
}

.bgimg-2 {
  min-height: 400px;
}

.bgimg-3 {
  min-height: 200px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  transform:translateY(-50%);
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.familyCrest{
  width:100px;
  margin:20px auto;
  display: inline-block;
}

/* W3schools template website */
/* Column container */
/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #97BDAB;
  color: #444;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* Zoom magnifier */
.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 8px;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 100px;
}